@charset "UTF-8";

.search-type{
	background: hsla(0, 0%, 100%, .12);
}
.search-type:hover{
	background: hsla(0, 0%, 100%, .12);
	background: #1E3159;
	border-color: #9400D3;
}
* {
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

body,
html {
	font: 9.3333333333px Microsoft YaHei, Heiti SC, -apple-system, BlinkMacSystemFont, tahoma, Arial, Helvetica, Verdana, PingFang SC, Hiragino Sans GB, sans-serif;
	color: #333;
	background-color: #f0f3ef;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	height: 100%
}

html {
	font-size: 100px
}

body {
	font-size: 14px
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

button,
input,
select,
textarea {
	font: 12px/1.5 Microsoft YaHei, Heiti SC, -apple-system, BlinkMacSystemFont, tahoma, Arial, Helvetica, Verdana, PingFang SC, Hiragino Sans GB, sans-serif;
	-webkit-font-smoothing: antialiased
}

input,
select,
textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	text-align: inherit
}

fieldset,
img {
	border: 0
}

iframe {
	display: block
}

abbr,
acronym {
	border: 0;
	font-variant: normal
}

del {
	text-decoration: line-through
}

i {
	font-style: normal
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 500
}

ol,
ul {
	list-style: none
}

caption,
th {
	text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 500;
	color: #000
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 16px
}

h3,
h4,
h5,
h6 {
	font-size: 14px
}

q:after,
q:before {
	content: ""
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

a,
ins {
	text-decoration: none
}

.t-lnk,
.t-lnk-gray,
.t-lnk-highlight,
a {
	transition: color .2s
}

a,
a:active,
a:hover,
a:link,
a:visited {
	text-decoration: none;
	color: inherit
}

.t-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.t-clear {
	zoom: 1;
	*zoom: 1
}

.t-cursor {
	cursor: pointer
}

.t-cny {
	font-family: arial
}

body .fn-hide {
	display: none
}

.t-align-right {
	text-align: right !important
}

.t-align-left {
	text-align: left !important
}

.t-align-center {
	text-align: center !important
}

.t-left,
.t-right {
	display: inline
}

.t-left {
	float: left !important
}

.t-right {
	float: right !important
}

.t-hide {
	display: none !important
}

.t-white {
	color: #fff !important
}

.t-red {
	color: #e00
}

.t-rose {
	color: #e55e6d !important
}

.t-orange {
	color: #f60
}

.t-blue {
	color: #00a2ca
}

.t-green {
	color: #390
}

.t-black {
	color: #000
}

.t-dark {
	color: #333
}

.t-gray {
	color: #666
}

.t-pale {
	color: #999
}

.t-light {
	color: #ccc
}

.t-bg-rose {
	background-color: #e55e6d !important;
	color: #fff !important
}

.t-bg-dark {
	background-color: #333 !important;
	color: #fff !important
}

.t-bg-orange {
	background-color: #f90 !important;
	color: #fff !important
}

.t-bg-white {
	background-color: #fff !important
}

.t-bg-default {
	background-color: #f0f3ef !important
}

.t-mt0 {
	margin-top: 0
}

.t-mt1 {
	margin-top: 4px
}

.t-mt2 {
	margin-top: 8px
}

.t-mt3 {
	margin-top: 12px
}

.t-mt4 {
	margin-top: 16px
}

.t-mt5 {
	margin-top: 20px
}

.t-mr0 {
	margin-right: 0
}

.t-mr1 {
	margin-right: 4px
}

.t-mr2 {
	margin-right: 8px
}

.t-mr3 {
	margin-right: 12px
}

.t-mr4 {
	margin-right: 16px
}

.t-mr5 {
	margin-right: 20px
}

.t-mb0 {
	margin-bottom: 0
}

.t-mb1 {
	margin-bottom: 4px
}

.t-mb2 {
	margin-bottom: 8px
}

.t-mb3 {
	margin-bottom: 12px
}

.t-mb4 {
	margin-bottom: 16px
}

.t-mb5 {
	margin-bottom: 20px
}

.t-ml0 {
	margin-left: 0
}

.t-ml1 {
	margin-left: 4px
}

.t-ml2 {
	margin-left: 8px
}

.t-ml3 {
	margin-left: 12px
}

.t-ml4 {
	margin-left: 16px
}

.t-ml5 {
	margin-left: 20px
}

.t-m5 {
	margin: 20px
}

.t-pt1 {
	padding-top: 4px
}

.t-pt2 {
	padding-top: 8px
}

.t-pt3 {
	padding-top: 12px
}

.t-pt4 {
	padding-top: 16px
}

.t-pt5 {
	padding-top: 20px
}

.t-pb1 {
	padding-bottom: 4px
}

.t-pb2 {
	padding-bottom: 8px
}

.t-pb3 {
	padding-bottom: 12px
}

.t-pb4 {
	padding-bottom: 16px
}

.t-pb5 {
	padding-bottom: 20px
}

.t-p1 {
	padding: 4px
}

.t-p2 {
	padding: 8px
}

.t-p3 {
	padding: 12px
}

.t-p4 {
	padding: 16px
}

.t-p5 {
	padding: 20px
}

.t-border_top {
	margin: 5px 0;
	border-top: 1px solid #e1e1e1
}

.t-btn-anti,
.t-btn-blue,
.t-btn-trans,
.t-btn-white,
a.t-btn-anti,
a.t-btn-blue,
a.t-btn-trans,
a.t-btn-white {
	transition: all .3s
}

.t-btn-anti,
.t-btn-blue,
.t-btn-trans,
.t-btn-white {
	display: inline-block;
	min-width: 140px;
	height: 36px;
	padding: 0 30px 1px;
	background: #00a2ca;
	border: 1px solid #00a2ca;
	line-height: 32px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	outline: none;
	cursor: pointer;
	border-radius: 0;
	*width: auto;
	*padding: 0 15px
}

.t-btn-blue:hover,
.t-btn-white:hover {
	background: #33b5d4;
	border-color: #33b5d4
}

.t-btn-blue:active,
.t-btn-white:active {
	background: #008fb2;
	border-color: #008fb2
}

.t-btn-white {
	background: #fff;
	border-color: #00a2ca;
	color: #00a2ca
}

.t-btn-white:active,
.t-btn-white:hover {
	color: #fff
}

.t-btn-anti {
	background: #fff;
	border-color: #fff;
	color: #00a2ca
}

.t-btn-anti:hover {
	background: #9cddf5;
	border-color: #9cddf5
}

.t-btn-anti:active {
	background: #5acbeb;
	border-color: #5acbeb;
	color: #fff
}

.t-btn-trans {
	background: transparent;
	border-color: #fff;
	color: #fff
}

.t-btn-trans:hover {
	background: #fff;
	color: #000
}

.t-btn-trans:active {
	background: #e7e7e7;
	border-color: #e7e7e7
}

.t-btn-anti.t-btn-l,
.t-btn-blue.t-btn-l,
.t-btn-trans.t-btn-l,
.t-btn-white.t-btn-l {
	min-width: 180px;
	height: 42px;
	padding: 0 40px;
	line-height: 38px;
	font-size: 18px;
	*padding: 0 20px
}

.t-btn-anti.t-btn-s,
.t-btn-blue.t-btn-s,
.t-btn-trans.t-btn-s,
.t-btn-white.t-btn-s {
	min-width: 100px;
	height: 26px;
	padding: 0 20px;
	line-height: 20px;
	font-size: 12px;
	*padding: 0 10px
}

.t-btn-blue.t-btn-disabled,
.t-btn-blue:active.t-btn-disabled,
.t-btn-blue:hover.t-btn-disabled,
.t-btn-white.t-btn-disabled,
.t-btn-white:active.t-btn-disabled,
.t-btn-white:hover.t-btn-disabled {
	background: #efefef;
	border-color: #efefef;
	color: #ccc;
	cursor: default
}

.t-btn-anti.t-btn-disabled,
.t-btn-anti:active.t-btn-disabled,
.t-btn-anti:hover.t-btn-disabled,
.t-btn-trans.t-btn-disabled,
.t-btn-trans:active.t-btn-disabled,
.t-btn-trans:hover.t-btn-disabled {
	background: #c4c4c4;
	border-color: #c4c4c4;
	color: #8d8d8d;
	cursor: default
}

a.t-btn-anti,
a.t-btn-anti:link,
a.t-btn-anti:visited,
a.t-btn-blue,
a.t-btn-blue:link,
a.t-btn-blue:visited,
a.t-btn-trans,
a.t-btn-trans:link,
a.t-btn-trans:visited,
a.t-btn-white,
a.t-btn-white:link,
a.t-btn-white:visited {
	display: inline-block;
	min-width: 78px;
	height: 33px;
	padding: 0 30px 1px;
	background: #00a2ca;
	line-height: 33px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	outline: none;
	border-radius: 0;
	*width: auto
}

a.t-btn-blue:hover {
	background: #33b5d4;
	border-color: #33b5d4;
	text-decoration: none
}

a.t-btn-blue:active {
	background: #008fb2;
	border-color: #008fb2
}

a.t-btn-white,
a.t-btn-white:link,
a.t-btn-white:visited {
	background: #fff;
	border-color: #00a2ca;
	color: #00a2ca
}

a.t-btn-white:hover {
	background: #33b5d4;
	border-color: #33b5d4;
	color: #fff;
	text-decoration: none
}

a.t-btn-white:active {
	background: #008fb2;
	border-color: #008fb2;
	color: #fff
}

a.t-btn-anti,
a.t-btn-anti:link,
a.t-btn-anti:visited {
	background: #fff;
	border-color: #fff;
	color: #00a2ca
}

a.t-btn-anti:hover {
	background: #9cddf5;
	border-color: #9cddf5;
	text-decoration: none
}

a.t-btn-anti:active {
	background: #5acbeb;
	border-color: #5acbeb;
	color: #fff
}

a.t-btn-trans,
a.t-btn-trans:link,
a.t-btn-trans:visited {
	background: transparent;
	border-color: #fff;
	color: #fff
}

a.t-btn-trans:hover {
	background: #fff;
	color: #000;
	text-decoration: none
}

a.t-btn-trans:active {
	background: #e7e7e7;
	border-color: #e7e7e7
}

a.t-btn-anti.t-btn-l,
a.t-btn-anti:hover.t-btn-l,
a.t-btn-anti:link.t-btn-l,
a.t-btn-anti:visited.t-btn-l,
a.t-btn-blue.t-btn-l,
a.t-btn-blue:hover.t-btn-l,
a.t-btn-blue:link.t-btn-l,
a.t-btn-blue:visited.t-btn-l,
a.t-btn-trans.t-btn-l,
a.t-btn-trans:hover.t-btn-l,
a.t-btn-trans:link.t-btn-l,
a.t-btn-trans:visited.t-btn-l,
a.t-btn-white.t-btn-l,
a.t-btn-white:hover.t-btn-l,
a.t-btn-white:link.t-btn-l,
a.t-btn-white:visited.t-btn-l {
	min-width: 98px;
	height: 40px;
	padding: 0 40px;
	line-height: 40px;
	font-size: 18px
}

a.t-btn-anti.t-btn-s,
a.t-btn-anti:hover.t-btn-s,
a.t-btn-anti:link.t-btn-s,
a.t-btn-anti:visited.t-btn-s,
a.t-btn-blue.t-btn-s,
a.t-btn-blue:hover.t-btn-s,
a.t-btn-blue:link.t-btn-s,
a.t-btn-blue:visited.t-btn-s,
a.t-btn-trans.t-btn-s,
a.t-btn-trans:hover.t-btn-s,
a.t-btn-trans:link.t-btn-s,
a.t-btn-trans:visited.t-btn-s,
a.t-btn-white.t-btn-s,
a.t-btn-white:hover.t-btn-s,
a.t-btn-white:link.t-btn-s,
a.t-btn-white:visited.t-btn-s {
	min-width: 58px;
	height: 24px;
	padding: 0 20px;
	line-height: 2;
	font-size: 12px
}

a.t-btn-blue.t-btn-disabled,
a.t-btn-blue:active.t-btn-disabled,
a.t-btn-blue:hover.t-btn-disabled,
a.t-btn-blue:link.t-btn-disabled,
a.t-btn-blue:visited.t-btn-disabled,
a.t-btn-white.t-btn-disabled,
a.t-btn-white:active.t-btn-disabled,
a.t-btn-white:hover.t-btn-disabled,
a.t-btn-white:link.t-btn-disabled,
a.t-btn-white:visited.t-btn-disabled {
	background: #efefef;
	border-color: #efefef;
	color: #ccc;
	cursor: default
}

a.t-btn-anti.t-btn-disabled,
a.t-btn-anti:active.t-btn-disabled,
a.t-btn-anti:hover.t-btn-disabled,
a.t-btn-anti:link.t-btn-disabled,
a.t-btn-anti:visited.t-btn-disabled,
a.t-btn-trans.t-btn-disabled,
a.t-btn-trans:active.t-btn-disabled,
a.t-btn-trans:hover.t-btn-disabled,
a.t-btn-trans:link.t-btn-disabled,
a.t-btn-trans:visited.t-btn-disabled {
	background: #c4c4c4;
	border-color: #c4c4c4;
	color: #8d8d8d;
	cursor: default
}

.t-table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
	line-height: 1.5;
	color: #333
}

.t-table td,
.t-table th {
	padding: 0 12px;
	vertical-align: middle;
	text-align: left;
	cursor: default
}

.t-table th {
	background: #eee;
	height: 32px;
	font-weight: 700;
	color: #000;
	white-space: nowrap
}

.t-table td {
	padding: 17px 12px
}

.t-table tr {
	background: #fff;
	border-bottom: 1px solid #f6f6f6;
	transition: background .3s
}

.t-table.t-table-odd tr:nth-child(odd) {
	background: #f9f9f9
}

.t-table.t-table-odd tr:nth-child(2n) {
	background: #fff
}

.t-table.t-table-odd tr {
	border-bottom-width: 0
}

.t-table.t-table-odd {
	border-bottom: 1px solid #e3e3e3
}

.t-table.t-table-odd tr:hover,
.t-table tr:hover {
	background: #eafbfe
}

.t-table .t-nowrap {
	white-space: nowrap
}

.t-table .t-align-right {
	text-align: right
}

.t-table .t-align-center {
	text-align: center
}

.t-table.t-table-s td {
	padding: 7px 12px
}

img:not([src]),
img[src=""] {
	opacity: 0;
	filter: alpha(opacity=0)
}

input::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #666
}

input:-moz-placeholder,
input::-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=text]:-moz-placeholder,
input[type=text]::-moz-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder {
	color: #666;
	opacity: 1;
	filter: alpha(opacity=100)
}

input:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #666
}

input[type=checkbox],
input[type=checkbox]:focus,
input[type=radio],
input[type=radio]:focus {
	display: inline-block;
	margin: -2px 4px 0;
	width: 18px;
	height: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline-style: none;
	border: 0;
	vertical-align: middle;
	cursor: pointer;
	transition: all .3s
}

input[type=radio] {
	background: url(https://static.tantupix.com/pc/images/icon_radio_link.png) 50% no-repeat;
	background-size: 100% 100%
}

input[type=radio]:checked {
	background: url(https://static.tantupix.com/pc/images/icon_radio_active.png) 50% no-repeat;
	background-size: 100% 100%
}

input[type=checkbox] {
	background: url(https://static.tantupix.com/pc/images/icon_checkbox_link.png?v=20180927) 50% no-repeat;
	background-size: 100% 100%
}

input[type=checkbox]:checked {
	background: url(https://static.tantupix.com/pc/images/icon_checkbox_active.png?v=20180927) 50% no-repeat;
	background-size: 100% 100%
}

.t-badge:empty {
	display: none
}

.disable-hover {
	pointer-events: none
}

.s-ele {
	position: absolute;
	top: -10000px
}

.default-thumb {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #f7f7f7 url(https://static.tantupix.com/pc/images/logo_grey.png) 50% no-repeat;
	background-size: 60% auto
}

.default-avatar {
	display: inline-block;
	background: #f7f7f7 url(https://static.tantupix.com/pc/images/default_avatar.jpg) 50% no-repeat;
	background-size: 100%
}

.t-size-default {
	font-size: 14px
}

.t-size-lg {
	font-size: 24px
}

.t-size-md {
	font-size: 16px
}

.t-size-sm {
	font-size: 12px
}

.line-h38 {
	line-height: 38px
}

.t-content {
	position: relative;
	margin-top: 50px;
	min-height: calc(100vh - 50px);
	zoom: 1;
	overflow: hidden
}

.t-content:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.t-content.min {
	min-width: 997px
}

.t-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .3s ease-in-out;
	height: 50px;
	margin: 0 auto;
	font-weight: 500;
	background: #1E3159;
	z-index: 4
}

.t-header.transparent {
	background: linear-gradient(rgba(0, 0, 0, .3), transparent);
	transition: background-color .8s ease;
	z-index: 2
}

.t-header.transparent .t-common-search-type-name {
	background: transparent
}

.t-header.transparent:hover .t-common-search-type-name {
	background-color: #262c30
}

.t-header:hover {
	transition: background-color .8s ease;
	background-color: 
}

.t-header .t-nav {
	background-color: transparent;
	position: relative;
	padding: 0 .2rem;
	border-radius: 2px;
	font-size: 0;
	box-sizing: border-box
}

.t-header .t-nav * {
	font-size: 14px
}

.t-header .t-nav-wrap {
	box-sizing: border-box;
	margin: 0 auto;
	padding-right: 10px;
	height: 50px;
	width: 100%
}

.t-header .t-nav-hd {
	position: relative
}

.t-header .t-nav-toggle {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 26px;
	color: #fff;
	cursor: pointer;
	display: none
}

.t-header .t-nav-collapse {
	display: block
}

.t-header .t-nav-logo {
	float: left;
	margin-left: 20px;
	padding: 13px 0;
	position: relative;
	width: 150px;
	height: 24px;
	background: url(../images/SEzone-logo.png) 50% no-repeat;
	background-size: 150px 24px
}

.t-header .t-nav-item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	line-left: 110px;
	height: 50px;
}

.t-header .t-nav-item:hover>.t-nav-child {
	display: block !important
}

.t-header .t-nav-item.active>a {
	color: #e55e6d
}

.t-header .t-nav-item>a {
	position: relative;
	display: block;
	padding: 0 .12rem;
	color: #fff;
	transition: all .3s;
	-webkit-transition: all .3s
}

.t-header .t-nav-item>a:hover {
	color: #e55e6d
}

.t-header .t-nav-item-arrow:hover {
	background-color: 
}

.t-header .t-nav-item-more {
	display: none
}

.t-header .t-nav-item .nav-badge {
	position: absolute;
	transform: translateX(50%);
	top: 14px;
	right: 6px;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background-color: #e55e6d
}

.t-header .t-nav-left {
	float: left
}

.t-header .t-nav-right {
	padding: 0 10px;
	float: right
}

.t-header .t-nav-img {
	position: relative;
	vertical-align: top
}

.t-header .t-nav-img,
.t-header .t-nav-img-wrap {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%
}

.t-header .t-nav-img-wrap {
	float: left;
	margin: 10px;
	background: #f7f7f7 url(../images/avatar/default_avatar.jpg) 50% no-repeat;
	background-size: 100%;
	overflow: hidden
}

.t-header .t-nav-child {
	display: none;
	position: absolute;
	left: 0;
	top: 50px;
	min-width: 100%;
	line-height: 36px;
	padding: 0 0;
	background-color: #F5F5F5;
	color: #fff;
	z-index: 5;
	white-space: nowrap
}

.t-header .t-nav-child:hover {
	display: block !important
}

.t-header .t-nav-child a {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	color: 	#696969;
}

.t-header .t-nav-child a:hover,
.t-header .t-nav-child dd.active a {
	background-color: #FFFFFF;
	color: #e55e6d;
}

.t-header .t-nav-qrcode {
	width: 120px;
	height: 120px
}

.t-header .t-nav-qrcode-arrow {
	margin-left: -170px;
	padding: 15px 0 0 15px;
	box-sizing: border-box;
	width: 420px
}

.t-header .t-nav-qrcode-arrow dd {
	float: left;
	width: 120px;
	margin-right: 15px;
	text-align: center
}

.t-header .t-nav-qrcode-arrow dd p {
	font-size: 12px;
	color: #fff
}

.t-header .t-nav .layui-icon {
	font-size: 20px;
	vertical-align: middle
}

.t-header .t-nav-msg.active {
	animation: a 1s 2.3s infinite alternate ease-in-out;
	transform-origin: bottom
}

.t-header .t-nav-msg.active .msg-badge {
	display: block
}

.t-header .t-nav-msg .icon-msg {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://static.tantupix.com/pc/images/icon_message_link.png) 50% no-repeat;
	background-size: 100% 100%;
	vertical-align: middle
}

.t-header .t-nav-msg .msg-badge {
	position: absolute;
	display: none;
	transform: translateX(50%);
	top: 14px;
	right: 16px;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background-color: #e55e6d
}

.t-header .t-nav-more .layui-icon {
	font-size: 12px
}

.t-header .cart-badge {
	position: absolute;
	top: 6px;
	right: 4px;
	display: inline-block;
	font-family: Arial;
	font-size: 12px;
	background-color: #e55e6d;
	width: 18px;
	text-align: center;
	height: 18px;
	line-height: 18px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: top;
	z-index: 2;
	color: #fff
}

.t-header .cart-badge:empty {
	display: none
}

@media screen and (max-width:768px) {
	.t-header .t-nav-hd {
		display: block;
		width: 100%;
		height: 50px
	}

	.t-header .t-nav-wrap {
		padding: 0
	}

	.t-header .t-nav-wrap:hover .t-nav-collapse {
		display: block !important
	}

	.t-header .t-nav-collapse {
		display: none;
		background-color: #000
	}

	.t-header .t-nav-toggle {
		display: block
	}
}

@media screen and (max-width:1024px) {
	.t-nav-item-more {
		display: block !important
	}
}

.t-content-nav {
	border-bottom: 1px solid #e1e1e1;
	background-color: #fff;
	text-align: center;
	transition: all .3s;
	box-sizing: border-box;
	zoom: 1;
	height: 50px
}

.t-content-nav:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.t-content-nav.fixed {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 3
}

.t-content-nav-item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px
}

.t-content-nav-item a {
	display: block;
	padding: 0 .1rem;
	transition: all .3s;
	-webkit-transition: all .3s;
	box-sizing: border-box;
	border-bottom: 1px solid transparent;
	height: 50px
}

.t-content-nav-item.active a {
	color: #e55e6d;
	border-bottom: 1px solid #e55e6d
}

.t-content-tab {
	display: inline-block;
	margin: 0 auto;
	border: 1px solid #e55e6d;
	border-radius: 8px;
	overflow: hidden
}

.t-content-tab-item {
	display: inline-block;
	padding: 0 16px;
	min-width: 120px;
	text-align: center;
	line-height: 40px;
	border-left: 1px solid #e55e6d;
	cursor: pointer
}

.t-content-tab-item+.t-content-tab-item {
	margin-left: -1px
}

.t-content-tab-item:first-child {
	border-left: 0
}

.t-content-tab-item.active {
	border-color: #e55e6d;
	background-color: #e55e6d;
	color: #fff
}

.t-common-search-header {
	margin-top: 10px;
	height: 30px;
	line-height: 0;
	position: relative;
	padding-left: 70px;
	float: right
}

.t-common-search-type {
	position: absolute;
	left: 0;
	float: left;
	width: 70px;
	box-sizing: border-box;
	color: #fff;
	background: hsla(0, 0%, 100%, .12);
	cursor: pointer
}

.t-common-search-type:hover .t-common-search-type-child {
	display: block
}

.t-common-search-type-name {
	position: relative;
	display: inline-block;
	width: 100%;
	padding-left: 10px;
	box-sizing: border-box;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	background-color: #161616
}

.t-common-search-type-child {
	position: absolute;
	width: 70px;
	top: 28px;
	background-color: #161616;
	display: none
}

.t-common-search-type-child dd {
	padding-left: 10px;
	box-sizing: border-box;
	height: 26px;
	line-height: 26px;
	font-size: 12px
}

.t-common-search-type-child dd:hover {
	cursor: pointer;
	color: #e55e6d;
	background-color: #0b0b0b
}

.t-common-search-arrow {
	position: absolute;
	right: 4px;
	top: 14px;
	font-size: 12px
}

.t-common-search-container {
	width: 160px;
	height: 26px;
	background: hsla(0, 0%, 100%, .12);
	position: relative;
	transition: all .3s linear;
	border: 1px solid transparent
}

.t-common-search-container.active,
.t-common-search-container:hover {
	width: 200px;
	background: #1E3159;
	border-color: #9400D3;
}

.t-common-search-container input {
	position: relative;
	font-size: 12px;
	box-sizing: border-box;
	padding-left: 12px;
	padding-right: 29px;
	width: 100%;
	height: 100%;
	outline: none;
	background: transparent;
	border: none;
	color: #fff;
	line-height: 26px;
	overflow: hidden;
	z-index: 3
}

.t-common-search-container input::-webkit-input-placeholder {
	color: #ddd
}

.t-common-search-line {
	position: absolute;
	z-index: 3;
	right: 28px;
	top: 5px;
	bottom: 5px;
	border-left: 1px solid #373d41
}

.t-common-search-icon {
	display: block;
	position: absolute;
	z-index: 3;
	right: 0;
	top: -1px;
	bottom: 0;
	width: 28px;
	height: 28px;
	cursor: pointer;
	background: url(https://static.tantupix.com/pc/images/icon_search.png) 50% no-repeat;
	background-size: 50%
}

.t-common-search-icon:hover {
	background: url(https://static.tantupix.com/pc/images/icon_search_rose.png) 50% no-repeat;
	background-size: 50%
}

.t-common-search-recommend {
	position: absolute;
	top: -500px;
	box-sizing: border-box;
	width: 202px;
	padding: 4px 6px;
	background-color: #161616;
	color: #e55e6d;
	transition: right .3s linear;
	z-index: 1
}

.t-common-search-recommend.active {
	top: 28px
}

.t-common-search-recommend .tit {
	color: #fff;
	line-height: 26px;
	font-size: 12px
}

.t-common-search-recommend-item {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 8px;
	margin: 2px;
	height: 26px;
	line-height: 22px;
	font-size: 12px;
	border: 1px solid #999;
	cursor: pointer;
	color: #999 !important;
	transition: all .3s linear
}

.t-common-search-recommend-item:hover {
	border-color: #e55e6d;
	color: #e55e6d !important
}

@media screen and (max-width:1050px) {
	.t-common-search-header {
		display: none
	}
}

.empty-status-box {
	padding: 100px 0;
	text-align: center
}

.empty-status-box .icon-empty-state {
	display: inline-block;
	vertical-align: top;
	width: 82px;
	height: 100px;
	background: url(https://static.tantupix.com/h5/images/results_icon_empty_state_grey@2x.png) 50% no-repeat;
	background-size: 100% 100%
}

.empty-status-box .tips {
	margin-top: 20px;
	color: #666
}

.flex-images {
	position: relative;
	padding: 3px
}

.flex-images-item {
	position: relative;
	display: block;
	float: left;
	margin: 3px;
	box-sizing: border-box;
	overflow: hidden;
	background: #e1e1e1 url(https://static.tantupix.com/pc/images/logo_grey.png) 50% no-repeat;
	background-size: 180px 29.6703296703px
}

.flex-images-item:hover .layui-form-checkbox {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important
}

.flex-images-item .mask {
	width: 100%;
	height: 100%;
	bottom: 0;
	z-index: 1
}

.flex-images-item .mask,
.flex-images-item .top-over {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	filter: alpha(opacity=0)
}

.flex-images-item .top-over {
	padding: 4px 6px;
	color: #fff;
	background-color: rgba(0, 0, 0, .2);
	transition: all .3s;
	z-index: 2
}

.flex-images-item .top-over.opacity {
	opacity: 1;
	filter: alpha(opacity=100);
	background: none
}

.flex-images-item .top-over-item {
	display: inline-block;
	color: #e55e6d;
	height: 18px;
	line-height: 18px;
	cursor: pointer
}

.flex-images-item .top-over-item.setting {
	margin-top: 2px
}

.flex-images-item .top-over-item .layui-form-checkbox {
	margin-left: 3px;
	opacity: 0;
	filter: alpha(opacity=0)
}

.flex-images-item .top-over-item .layui-form-checked {
	opacity: 1;
	filter: alpha(opacity=100)
}

.flex-images-item .top-over-item.setting {
	margin: 3px;
	padding: 0 2px;
	height: 18px;
	line-height: 18px;
	float: right;
	font-size: 12px;
	color: #e55e6d;
	background-color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}

.flex-images-item .thumb {
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all .3s
}

.flex-images-item .thumb:hover {
	transform: scale(1.025)
}

.flex-images-item .over {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px 6px;
	color: #fff;
	background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .8));
	transition: all .3s;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 2
}

.flex-images-item .user-avatar {
	float: left;
	margin-right: 4px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: url(https://static.tantupix.com/pc/images/icon_avatar.png) 50% no-repeat;
	background-size: 100% 100%;
	overflow: hidden
}

.flex-images-item .user-avatar.inner {
	vertical-align: top
}

.flex-images-item .user-nickname {
	float: left;
	line-height: 30px;
	cursor: pointer;
	color: #fff
}

.flex-images-item .product-info {
	float: right;
	line-height: 30px
}

.flex-images-item .product-info-item {
	margin-left: 8px
}

.flex-images-item:hover .over,
.flex-images-item:hover .top-over {
	opacity: 1;
	filter: alpha(opacity=100)
}

.flex-images-item:hover .top-over {
	background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0, transparent)
}

.flex-images-item:hover .top-over-item.setting,
.flex-images-item:hover .top-over-item input[type=checkbox] {
	opacity: 1;
	filter: alpha(opacity=100)
}

.icon {
	position: relative;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-right: 0;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	transition: all .3s
}

.icon-likes {
	background: url(https://static.tantupix.com/pc/images/icon_like_link.png) 50% no-repeat;
	background-size: 100% 100%;
	cursor: pointer
}

.icon-likes.grey {
	background: url(https://static.tantupix.com/pc/images/icon_like_link_grey.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-likes.active {
	background: url(https://static.tantupix.com/pc/images/icon_like_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-likes-white.active {
	background: url(https://static.tantupix.com/pc/images/icon_like_white_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-visits {
	width: 20px;
	height: 20px;
	background: url(https://static.tantupix.com/pc/images/icon_reading_link.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-visits.active {
	background: url(https://static.tantupix.com/pc/images/icon_reading_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-favs {
	background: url(https://static.tantupix.com/pc/images/icon_collection_link.png) 50% no-repeat;
	background-size: 100% 100%;
	cursor: pointer
}

.icon-favs.grey {
	background: url(https://static.tantupix.com/pc/images/icon_collection_link_grey.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-favs.active {
	background: url(https://static.tantupix.com/pc/images/icon_collection_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-cart {
	width: 22px;
	height: 22px;
	background: url(https://static.tantupix.com/pc/images/icon_shopping_card_white.png) 50% no-repeat;
	background-size: 100% 100%;
	cursor: pointer
}

.icon-comment {
	background: url(https://static.tantupix.com/pc/images/icon_comment_link.png?v=20180716) 50% no-repeat;
	background-size: 100% 100%
}

.icon-comment.grey {
	background: url(https://static.tantupix.com/pc/images/icon_comment_grey.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-del {
	background: url(https://static.tantupix.com/pc/images/icon_del_link_white.png) 50% no-repeat;
	background-size: 100% 100%;
	cursor: pointer
}

.icon-del.grey {
	background: url(https://static.tantupix.com/pc/images/icon_del_link.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-del:hover {
	background: url(https://static.tantupix.com/pc/images/icon_del_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.footer {
	padding: 10px 0;
	text-align: justify;
	background-color: #fff;
	color: #9b9ea0;
	font-size: 12px
}

.footer h4 {
	margin-bottom: 5px;
	color: #666
}

.footer .service-qq {
	margin-top: 14px;
	display: inline-block
}

.footer a:hover {
	color: #666
}

.footer .icon-qq {
	display: inline-block;
	margin-right: 4px;
	width: 20px;
	height: 20px;
	background: url(https://static.tantupix.com/pc/images/icon_qq_link.png) 50% no-repeat;
	background-size: 100% 100%;
	vertical-align: bottom
}

.footer .link-list li {
	display: inline-block;
	margin-right: 14px;
	margin-bottom: 3px
}

.footer .free-qrcode-list li {
	display: inline-block;
	margin-right: .25rem;
	text-align: center
}

.footer .free-qrcode-list li img {
	width: 90px;
	height: 90px
}

.footer-qrcode {
	padding-left: 30px
}

@media screen and (max-width:768px) {
	.footer-qrcode {
		padding: 10px
	}
}

.follow-btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 2px 16px;
	min-width: 76px;
	text-align: center;
	border-radius: 3px;
	color: #e55e6d;
	border: 1px solid #e55e6d;
	cursor: pointer;
	vertical-align: middle;
	transition: all .3s;
	font-size: 14px
}

.follow-btn:hover {
	color: #fff;
	background-color: #e55e6d
}

.follow-btn.followed {
	color: #666;
	border: 1px solid #666
}

.follow-btn.followed:hover {
	color: #fff;
	background-color: #666
}

.icon-sign-type {
	margin: 0 5px;
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle
}

.icon-sign-type-2 {
	background: url(https://static.tantupix.com/pc/images/icon_sign_type_2.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-sign-type-3 {
	background: url(https://static.tantupix.com/pc/images/icon_sign_type_3.png) 50% no-repeat;
	background-size: 100% 100%
}

.t-content-headroom.headroom {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	transition: all .3s ease-in-out;
	z-index: 3
}

.t-content-headroom.headroom--unpinned {
	top: -50px
}

.t-content-headroom.headroom--pinned {
	top: 50px
}

.t-content-search-panel {
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

.t-content-search-arrow {
	position: relative;
	float: left;
	min-width: 100px;
	text-align: left;
	color: #262c30;
	z-index: 2
}

.t-content-search-arrow-hd {
	position: relative;
	padding: 0 10px;
	height: 34px;
	line-height: 34px;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
	border-radius: 2px;
	color: #666
}

.t-content-search-arrow-name {
	position: relative;
	display: block;
	float: left;
	cursor: pointer
}

.t-content-search-arrow-up {
	position: relative;
	margin-left: 5px;
	float: right;
	font-size: 12px
}

.t-content-search-arrow-child {
	display: block;
	position: absolute;
	margin-top: -1px;
	min-width: 100px;
	box-sizing: border-box;
	visibility: hidden;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	padding: 5px 0;
	color: #666
}

.t-content-search-arrow-child dd {
	display: block;
	padding: 0 15px;
	min-width: 98px;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px
}

.t-content-search-arrow-child dd.active {
	color: #e55e6d
}

.t-content-search-arrow-child dd:hover {
	cursor: pointer;
	color: #666;
	background-color: #e1e1e1
}

.t-content-search-arrow-child.category {
	display: block;
	width: 362px
}

.t-content-search-arrow-child.category dd {
	float: left;
	width: 120px;
	text-align: left
}

.t-content-search-arrow:hover .t-content-search-arrow-child {
	visibility: inherit
}

.t-content-search-container {
	margin-right: 20px;
	position: relative;
	float: left;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
	height: 34px;
	width: 3rem
}

.t-content-search-container input {
	position: relative;
	box-sizing: border-box;
	padding-left: 12px;
	padding-right: 34px;
	width: 100%;
	height: 100%;
	outline: none;
	background: transparent;
	border: none;
	color: #262c30;
	overflow: hidden;
	z-index: 2
}

.t-content-search-container input::-webkit-input-placeholder {
	color: #666
}

.t-content-search-line {
	position: absolute;
	right: 31px;
	top: 7px;
	height: 20px;
	border-left: 1px solid #e1e1e1
}

.t-content-search-icon {
	position: absolute;
	right: 0;
	top: 0;
	height: 32px;
	line-height: 32px;
	width: 32px;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	background: transparent;
	z-index: 2;
	color: #666
}

.t-content-search-icon:hover {
	color: #e55e6d
}

.t-content-search-icon .layui-icon {
	font-size: 20px
}

.t-content-search-color-box {
	display: inline-block;
	margin-right: 5px;
	width: 14px;
	height: 14px;
	box-sizing: border-box;
	vertical-align: middle;
	transition: all .05s linear
}

.t-content-search-color-box.border {
	border: 1px solid #ddd
}

.t-content-search-tag {
	float: left;
	margin-left: 10px
}

.t-content-search-tag .tag-item {
	display: inline-block;
	padding: 0 5px;
	line-height: 34px;
	color: #666
}

.t-content-search-tag .tag-item.active,
.t-content-search-tag .tag-item:hover {
	color: #e55e6d;
	cursor: pointer
}

.t-content-search-arrow-child.color dd:hover .t-content-search-color-box {
	margin-top: -2px;
	margin-left: -2px;
	width: 18px;
	height: 18px
}

@media screen and (max-width:768px) {
	.t-content-search-wrap {
		float: left !important
	}

	.t-content-search-wrap .t-content-search-arrow {
		display: block
	}

	.t-content-search-container {
		width: 100%
	}

	.t-content-search-container.product-search {
		width: 4rem
	}

	.t-content-search-arrow,
	.t-content-search-tag {
		display: none
	}
}

.icon-share {
	display: inline-block;
	margin: 8px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	overflow: hidden;
	cursor: pointer
}

.icon-share-wechat {
	background: #f0f3ef url(https://static.tantupix.com/pc/images/icon_wechat_link.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-share-wechat:hover {
	background: #f0f3ef url(https://static.tantupix.com/pc/images/icon_wechat_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-share-weibo {
	background: #f0f3ef url(https://static.tantupix.com/pc/images/icon_weibo_link.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-share-weibo:hover {
	background: #f0f3ef url(https://static.tantupix.com/pc/images/icon_weibo_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-share-qq {
	background: #f0f3ef url(https://static.tantupix.com/pc/images/icon_qq_link.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-share-qq:hover {
	background: #f0f3ef url(https://static.tantupix.com/pc/images/icon_qq_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-share-renren {
	background: #f0f3ef url(https://static.tantupix.com/pc/images/icon_renren_link.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-share-renren:hover {
	background: #f0f3ef url(https://static.tantupix.com/pc/images/icon_renren_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-share-douban {
	background: #f0f3ef url(https://static.tantupix.com/pc/images/icon_douban_link.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-share-douban:hover {
	background: #f0f3ef url(https://static.tantupix.com/pc/images/icon_douban_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-help {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background: url(https://static.tantupix.com/pc/images/icon_help_link.png) 50% no-repeat;
	background-size: 100% 100%;
	cursor: pointer
}

.icon-help:hover {
	background: url(https://static.tantupix.com/pc/images/icon_help_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.icon-star {
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
	width: 10px;
	height: 10px;
	background: url(https://static.tantupix.com/pc/images/icon_star.png) 50% no-repeat;
	background-size: 100% 100%;
	vertical-align: top
}

.tool-bar {
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 6
}

.tool-bar ul li {
	position: relative
}

.tool-bar ul li:hover .tool-bar-qrcode,
.tool-bar ul li:hover .tool-bar-text {
	display: inline-block
}

.tool-bar-item {
	position: relative;
	display: block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin-bottom: 1px;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	background-color: #9f9f9f;
	color: #fff !important;
	border-radius: 2px;
	opacity: .95
}

.tool-bar-item.layui-icon {
	font-size: 22px
}

.tool-bar-item.layui-icon-top {
	font-size: 30px
}

.tool-bar-item:hover {
	opacity: 1
}

.tool-bar-text {
	display: none;
	color: #fff !important;
	background-color: #e55e6d;
	padding: 3px;
	width: 30px;
	text-align: center;
	height: 30px;
	font-size: 12px;
	line-height: 1.2;
	position: absolute;
	top: 0;
	z-index: 2;
	border-radius: 2px
}

.tool-bar-qrcode {
	position: absolute;
	top: -84px;
	right: 38px;
	background-color: #fff;
	display: none;
	box-sizing: border-box;
	padding: 10px;
	width: 120px;
	height: 120px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.tool-bar-qrcode .icon-qrcode {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: url(https://static.tantupix.com/pc/images/qq_qrcode.png) 50% no-repeat;
	background-size: 100% 100%
}

.tool-bar .cart-badge {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	font-family: Arial;
	font-size: 12px;
	background-color: #e55e6d;
	width: 18px;
	text-align: center;
	height: 18px;
	line-height: 18px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: top;
	z-index: 2;
	color: #fff
}

.tool-bar .cart-badge:empty {
	display: none
}

@media screen and (max-width:768px) {

	.tool-bar-item:not(:last-child),
	.tool-bar-open {
		display: none
	}
}

.layui-form-checkbox[lay-skin=primary]:hover i {
	border-color: #e55e6d
}

.layui-form-checked[lay-skin=primary] i {
	border-color: #e55e6d;
	background-color: #e55e6d
}

.layui-btn-primary:hover {
	border-color: #e55e6d
}

.layui-flow-more {
	margin: 0;
	padding: 20px 0;
	display: block;
	clear: both;
	color: #666
}

.layui-flow-more a cite {
	background: transparent;
	color: #666
}

.layui-flow-more .cursor {
	cursor: pointer
}

.layui-form-radio>i:hover,
.layui-form-radioed>i {
	color: #e55e6d
}

.layui-elem-quote {
	border-color: #e55e6d
}

.layui-layer-btn0 {
	background-color: #e55e6d !important;
	border-color: #e55e6d !important
}

.share-btn-wrap {
	position: relative
}

.share-btn-wrap .share-dropdown {
	display: none;
	position: absolute;
	left: -136px;
	padding-top: 10px;
	width: 200px;
	text-align: center;
	background-color: #f0f3ef;
	border-radius: 4px 0 4px 4px
}

.share-btn-wrap .share-dropdown>a {
	position: relative;
	display: inline-block;
	border: none !important
}

.share-btn-wrap .share-dropdown .share-wechat-box {
	position: absolute;
	top: -124px;
	left: -35px;
	background-color: #fff;
	font-size: 12px;
	border: 1px solid #999;
	display: none
}

.share-btn-wrap .share-dropdown .share-wechat-box .share-wechat-qrcode {
	padding-top: 5px;
	width: 100px;
	height: 100px;
	box-sizing: border-box
}

.share-btn-wrap .share-dropdown .share-wechat-box .desc {
	margin-bottom: 5px;
	color: #666
}

.share-btn-wrap .share-wechat-wrap:hover .share-wechat-box,
.share-btn-wrap:hover .share-dropdown {
	display: block
}

.common-comment-hd-box {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-align: start;
	align-items: flex-start
}

.common-comment-hd-box .thumb {
	display: inline-block;
	margin-right: 10px;
	width: 28px;
	height: 28px;
	background: url(https://static.tantupix.com/pc/images/default_avatar.jpg) 50% no-repeat;
	background-size: 100% 100%;
	border-radius: 28px;
	overflow: hidden
}

.common-comment-hd-box .textarea {
	-ms-flex: 1;
	flex: 1;
	padding: 8px;
	font-size: 12px;
	min-height: 80px;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #e1e1e1;
	background-color: #fcfdff;
	border-radius: 2px;
	outline-style: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all .2s
}

.common-comment-hd-box .textarea:focus {
	border-color: #b9c1c7
}

.common-comment-hd-box .textarea button {
	border: 0;
	background: none;
	overflow: visible
}

.common-comment-hd-box .textarea .mention {
	display: inline-block;
	*display: inline;
	zoom: 1
}

.common-comment-hd-box .textarea img {
	vertical-align: top;
	border: none;
	border-color: #fff
}

.common-comment-hd-box .textarea[placeholder]:empty:before {
	content: attr(placeholder);
	color: #888
}

.common-comment-hd-ft {
	margin: 12px 5px;
	text-align: right
}

.common-comment-hd-ft .comment-btn {
	color: #e55e6d;
	cursor: pointer
}

.common-comment-list .comment-box {
	position: relative;
	font-size: 13px;
	color: #888;
	line-height: 1;
	padding-left: 38px;
	padding-right: 10px
}

.common-comment-list .comment-box .comment-content {
	margin-top: 15px
}

.common-comment-list .comment-box .comment-content:hover .comment-ft .comment-operate {
	opacity: 1
}

.common-comment-list .comment-box .comment-content .thumb {
	position: absolute;
	left: 0;
	margin-right: 10px;
	width: 28px;
	height: 28px;
	background: url(https://static.tantupix.com/pc/images/default_avatar.jpg) 50% no-repeat;
	background-size: 100% 100%;
	border-radius: 28px;
	overflow: hidden
}

.common-comment-list .comment-box .comment-content .nickname {
	margin-right: 8px;
	display: inline-block;
	line-height: 28px;
	color: #333
}

.common-comment-list .comment-box .comment-content .con {
	margin: 5px 0;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 1.5
}

.common-comment-list .comment-box .comment-content .comment-ft {
	margin-top: 8px;
	font-size: 12px;
	line-height: 14px
}

.common-comment-list .comment-box .comment-content .comment-ft .comment-operate {
	opacity: 0
}

.common-comment-list .comment-box .comment-content .comment-ft .comment-operate:before {
	content: " · "
}

.common-comment-list .comment-box .comment-content .comment-ft .comment-reply {
	opacity: 1
}

.common-comment-list .comment-box .comment-content .comment-ft .comment-delete {
	color: #e55e6d
}

.common-comment-list .comment-box .comment-content .comment-ft .comment-like {
	float: right;
	opacity: 1
}

.common-comment-list .comment-box .comment-content .comment-ft .comment-like:before {
	content: ""
}

.common-comment-list .comment-box .comment-content .comment-ft .comment-like .icon-like {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(https://static.tantupix.com/pc/images/icon_comment_like_link.png) 50% no-repeat;
	background-size: 100% 100%
}

.common-comment-list .comment-box .comment-content .comment-ft .comment-like .icon-like.active {
	background: url(https://static.tantupix.com/pc/images/icon_comment_like_active.png) 50% no-repeat;
	background-size: 100% 100%
}

.common-comment-list .comment-box .comment-content .comment-ft .like-count {
	margin-top: 2px;
	vertical-align: top
}

.common-comment-list .comment-box .comment-content .comment-ft .like-count:empty {
	display: none
}

.common-comment-list .comment-box .comment-content .comment-ft .like-count.active {
	color: #e55e6d
}

.common-comment-list .node-comment-list {
	padding-left: 8px;
	border-left: 4px solid #e1e1e1
}

@keyframes a {
	0% {
		transform: rotate(0deg)
	}

	33% {
		transform: rotate(-8deg)
	}

	66% {
		transform: rotate(8deg)
	}

	to {
		transform: rotate(0deg)
	}
}

/*# sourceMappingURL=global.css.map */
